**/.DS_Store/
**/.idea/
node_modules
target
nufront/.nuxt/
nufront/node_modules/
**/application.properties
.nuxt/
/.nuxt/
mobi/src/main/resources/application.properties

.idea
*.iws
*.iml
*.ipr

/dist/
